<!DOCTYPE html>
<html lang="en">

<head>
    <title>movie</title>
</head>

<body style="background-color: #D6EAF8 ; text-align:center;">
    <header></header>
    <main>
        <section>
            <h3>RECOMMENDED MOVIES</h3>

            <div>

                <p>1.{{res1[0]}}</p>
                <img src="{{poster[0]}}" alt="Image1",width="500" height="333">

                <p>2.{{res1[1]}}</p>
                <img src="{{poster[1]}}" alt="Image2",width="500" height="333">

                <p>3.{{res1[2]}}</p>
                <img src="{{poster[2]}}" alt="Image3",width="500" height="333">

                <p>4.{{res1[3]}}</p>
                <img src="{{poster[3]}}" alt="Image4",width="500" height="333">

                <p>5.{{res1[4]}}</p>
                <img src="{{poster[4]}}" alt="Image5",width="500" height="333">

            </div>

            </form>
        </section>
    </main>
    <footer></footer>
</body>

</html>